* {
    margin: 0px;
    padding: 0px;
    font-family: "Segoe UI";
    font-size: 20px;
}

body, html{
    height: 100%;
}

header {
    /*background: red;*/
    background: #0c111f;
    height: 50px;
    display: flex;
    position: relative;
}

main {
    /*background: blue;*/
    background: #01010a;
    overflow: hidden;
    width: 100%;

    display: flex;
    flex-direction: column;
    justify-content: space-evenly;

}

aside {
    border-top: solid black 1px;
    background: #0c111f;
}

/*------------------header------------------*/
#icone {
    height: 100%;
}

#app-name {
    height: 100%;
    text-align: center;
    color: #c5d3dc;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

#bt-menu {
    position: absolute;
    right: 0;
    height: 100%;
    width: 125px;
    background: transparent;
    border: none;
    color: #c5d3dc;
}

#bt-menu:hover {
    cursor: pointer;
}

#bt-menu:focus {
    outline: none;
}


/*------------------corps------------------*/
#corps {
    background: #01010a;
    height: 100%;
    display: flex;
    justify-content: right;
}

/*------------------categories------------------*/
#menu-categs {
    padding-top: 20px;
    width: 150px;
}

#list-categ ul li{
    list-style-type: none;
    cursor: pointer;
    text-align: center;
    color: #c5d3dc;
}

#list-categ ul li:hover{
    font-weight: bold;
}

/*------------------main view------------------*/
#view-container {
    /*background: darkblue;*/
    padding: 20px;
    display: flex;
    justify-content: center;
    height: 250px;
    min-width: 300px;
    position: relative;
}

.view-image {
    background: #24335f;
    display: flex;
    align-items: center;

}

#view-prev {
    filter: brightness(0.2);
}

#view-next {
    filter: brightness(0.2);
}

#view-main {
    transform: scale(1.2);
    padding: 2px;
    z-index: 5;
}

/*---bt slide*/
.bt-change {
    color: white;
    font-size: 4em;
    top: 40px;
    position: absolute;
    width: 75px;
    z-index: 20;
    background: transparent;
    transform: scaleY(2);

    border: none;
}

.bt-change:hover {
    cursor: pointer;
}

.bt-change:focus {
    border: none;
    outline:none;
}

#bt-next {
    right: 0px;
}

#bt-prev {
    left: 0px;
}


/*------------------animation------------------*/
@keyframes faded {
    to {
        opacity: 0;
    }
}

.view-faded {
    animation-duration: 300ms;
    animation-name: faded;
    animation-fill-mode: forwards;
}

/*------------------toleft*/
@keyframes center_to_left {
    to {
        transform: scale(1) translateX(-300px);
        filter: brightness(0.2);
    }
}

.main-to-prev{
    animation-duration: 300ms;
    animation-name: center_to_left;
    animation-fill-mode: forwards;
}

@keyframes right_to_center {
    to {
        transform: translateX(-300px) scale(1.2);
    }
}


.next-to-main {
    animation-duration: 300ms;
    animation-name: right_to_center;
    animation-fill-mode: forwards;
}

/*------------------toright*/
@keyframes center_to_right {
    to {
        transform: scale(1) translateX(300px);
    }
}

.main-to-next{
    animation-duration: 300ms;
    animation-name: center_to_right;
    animation-fill-mode: forwards;
}

@keyframes left_to_center {
    to {
        transform: scale(1.2) translateX(250px);
    }
}

.prev-to-main {
    animation-duration: 300ms;
    animation-name: left_to_center;
    animation-fill-mode: forwards;
}

/*-------------------miniature------------------*/
.mini-content img {
    width : 100px;
}

.mini-content {
    padding: 2px;
    border: white solid 1px;
    display: flex;
    align-items: center;
    cursor: pointer;
}

#miniature-container {
    background: #01010a;
    padding: 5px;
    display: flex;
    justify-content: center;
}
